// Подключение шрифта Nunito через Google Fonts
// @import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

// Подключение шрифта Unbounded
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

// Fallback для браузеров без поддержки Variable Fonts
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}